<div class="container pb-5 mb-5">
  <h1>Avaliação de Frontend Datum</h1>

  <div class="card mb-3">
    <div class="card-header">Integração de API com Angular</div>
    <div class="card-body">
      <h5 class="card-title">Integração de API DataPoa</h5>
      <p class="card-text">Consulta de linhas de ônibus e linhas de lotação.</p>
      <a routerLink="/" class="btn btn-primary me-2">Home</a>
      <a routerLink="/linhas-de-onibus" class="btn btn-primary me-2"
        >Linhas de Ônibus</a
      >
      <a routerLink="/linhas-de-lotação" class="btn btn-primary me-2"
        >Linhas de Lotação</a
      >
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
